
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition: all .2s linear;
}
body{
    background-color: rgb(16, 82, 53);
    color: #e3c6c6;
    font-family: 'Kalam', cursive;
    font-size: 1.3rem;
}
h2{
    margin:5px ;
    text-align: center;
}
h3{
    margin:2px ;
    text-align: center;
}
h1{
    margin: 5px;
}

.choices{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}
.CompChoice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
img{
    
    width: 100px;
    border-radius: 100%;
    border: 3px solid black;
    margin: 5px;
    transition: all .2s;
}
.result{
    text-align: center;
}
img:hover{

    transform: scale(1.03);
    box-shadow: 4px 2px 6px 0px #232121;
    cursor: pointer;
}